.footer {
  height: 400px;
  width: 100%;
  background-color: rgba(34, 152, 81, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.footer-top {
  width: 180px;
  height: 60px;
  position: absolute;
  left: 600px;
  top: 70px;
}
.footer-top > img {
  width: 130px;
  height: 40px;
}
.footer-body {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 120px;
  position: absolute;
  left: 400px;
  top: 170px;
  /* border: 1px solid black; */
}
.footer-body-top {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 1px;
  color: white;
}
.footer-body-top > p {
  cursor: pointer;
  font-size: 14px;
  margin-left: -70px;
}
.footer-body-btm {
  position: relative;
  top: 30px;
  color: white;
  font-size: 14px;
}
.footer-bottom {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  width: 500px;
  height: 60px;
  position: absolute;
  top: 330px;
  left: 450px;
}
.footer-bottom > img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
